TD {
	FONT-SIZE: 9pt; COLOR: #353535; LINE-HEIGHT: 150%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; BACKGROUND: url(../eshop_img/bground.jpg) #ebebf7 no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 150%; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
.list_link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #8d1c1c; TEXT-DECORATION: none
}
.wenbenkuang {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "??им?"
}
.wbkuang {
	BORDER-RIGHT: #14b24b 1px solid; BORDER-TOP: #14b24b 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #14b24b 1px solid; COLOR: #333333; BORDER-BOTTOM: #14b24b 1px solid; FONT-FAMILY: "??им?"
}
.go-wenbenkuang {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "??им?"
}
.go-wenbenkuang1 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BACKGROUND: url(../eshop_img/btn_bg.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 52px; COLOR: #fff; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.go-wenbenkuang2 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BACKGROUND: url(../eshop_img/btn_bg2.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 90px; COLOR: #fff; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.go-wenbenkuang3 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BACKGROUND: url(../eshop_img/btn_bg3.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 20px; COLOR: #fff; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.table-zuoyou {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.table-shangxia {
	BORDER-TOP: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.table-you {
	BORDER-RIGHT: #cccccc 1px solid
}
.table-zuo {
	BORDER-LEFT: #cccccc 1px solid
}
.table-shang {
	BORDER-TOP: #cccccc 1px solid
}
.table-xia {
	BORDER-BOTTOM: #cccccc 1px solid
}


.menucontainer ul#topnav a.products0 {
	 
	width: 88px;
	height:28px;
	padding-top:8px;
}
.products0:link   {text-decoration: none;height:30px;font-size: 14px;padding-top: 8px;display:block;*display:inline-block;line-height:20px;color:#ffffff; font-weight:bold;}  
.products0:visited{text-decoration: none;height:30px;font-size: 14px;padding-top: 8px;display:block;*display:inline-block;line-height:20px;color:#ffffff; font-weight:bold;}  
.products0:hover  {text-decoration: none;height:30px;font-size: 14px;padding-top: 8px;display:block;*display:inline-block;line-height:20px;color:#F9B9DE; font-weight:bold;}




.table-xu {
	BORDER-BOTTOM: #cccccc 1px dotted
}
.matrix {
	FONT-SIZE: 12px
}
.matrix A {
	COLOR: #93393a
}
.matrix_sub {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(_eshop_img/botton2.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #c9c9c9 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #c9c9c9 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.matrix_header {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(_eshop_img/botton2.gif); PADDING-BOTTOM: 6px; BORDER-LEFT: #c9c9c9 1px solid; COLOR: #00469e; PADDING-TOP: 6px; BORDER-BOTTOM: #838383 1px solid; BACKGROUND-COLOR: #ffffff
}
.matrix_info {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #eae9e9 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.matrix_info_header {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #eae9e9 1px solid; BACKGROUND-COLOR: #ebeaea
}
.matrix_content {
	COLOR: #353535; BACKGROUND-COLOR: #ffffff
}
.matrix_left {
	BORDER-LEFT: #c9c9c9 1px solid
}
.error {
	BORDER-RIGHT: #ff0000 2px solid; BORDER-TOP: #ff0000 2px solid; BORDER-LEFT: #ff0000 2px solid; WIDTH: 95%; BORDER-BOTTOM: #ff0000 2px solid; BACKGROUND-COLOR: #ffdede
}
.error TD {
	FONT-SIZE: 12px; COLOR: #ff0000
}
.error .title {
	BACKGROUND-COLOR: #ff9393
}
.error .title TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.select {
	BORDER-TOP: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid
}
.tableBorder {
	BORDER-RIGHT: #aaaae0 1px solid; BORDER-TOP: #aaaae0 1px solid; BORDER-LEFT: #aaaae0 1px solid; WIDTH: 98%; BORDER-BOTTOM: #aaaae0 1px solid; BACKGROUND-COLOR: #fbf4f4
}
.color {
	FONT-SIZE: 12px; COLOR: #d7fd62; TEXT-DECORATION: none
}
.line {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
.unnamed1 {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.text {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #555
}
.text1 {
	FONT-SIZE: 12px; COLOR: #666
}
.text2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #696452
}
.text3 {
	FONT-SIZE: 14px; COLOR: #333; LINE-HEIGHT: 160%
}
.text6 {
	FONT-SIZE: 12px; COLOR: #ff6600
}
TABLE.menuend {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A.menu {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #888 1px solid; COLOR: #777; PADDING-TOP: 4px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
A.menu:link {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #888 1px solid; COLOR: #777; PADDING-TOP: 4px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
A.menu:visited {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #888 1px solid; COLOR: #777; PADDING-TOP: 4px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
A.menu:hover {
	BORDER-RIGHT: #d03838 1px solid; BORDER-TOP: #d03838 1px solid; FLOAT: left; BORDER-LEFT: #888 1px solid; COLOR: white; BACKGROUND-COLOR: #d03838; TEXT-DECORATION: none
}
A.menuselect:visited {
	BORDER-RIGHT: #0092c3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0092c3 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #888 1px solid; COLOR: white; PADDING-TOP: 4px; FONT-FAMILY: ??им?,Arial; BACKGROUND-COLOR: #0092c3; TEXT-DECORATION: none
}
A.menuselect {
	BORDER-RIGHT: #0092c3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0092c3 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #888 1px solid; COLOR: white; PADDING-TOP: 4px; FONT-FAMILY: ??им?,Arial; BACKGROUND-COLOR: #0092c3; TEXT-DECORATION: none
}
A.menuselect:hover {
	BORDER-RIGHT: #0092c3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0092c3 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #888 1px solid; COLOR: white; PADDING-TOP: 4px; FONT-FAMILY: ??им?,Arial; TEXT-DECORATION: none
}
.menutop {
	BORDER-RIGHT: #cc0033 1px solid; BORDER-TOP: #cc0033 1px solid; BORDER-LEFT: #cc0033 1px solid
}
.menumiddle {
	BORDER-RIGHT: #cc0033 1px solid; BORDER-LEFT: #cc0033 1px solid
}
.menubottom {
	BORDER-RIGHT: #cc0033 1px solid; BORDER-LEFT: #cc0033 1px solid; BORDER-BOTTOM: #cc0033 1px solid
}
.menuvoer {
	BORDER-RIGHT: #cc0033 1px solid; BORDER-TOP: #cc0033 1px solid; BORDER-LEFT: #cc0033 1px solid; BORDER-BOTTOM: #cc0033 1px solid
}
TABLE {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A.a01 {
	FONT-SIZE: 12px; FILTER: Shadow(Color=#333333, Direction=90); COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:hover {
	FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff8a00; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
.form {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #666666 1px solid; COLOR: #333333; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
.form2 {
	BORDER-RIGHT: #86806f 1px solid; BORDER-TOP: #86806f 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #86806f 1px solid; COLOR: #44372d; BORDER-BOTTOM: #86806f 1px solid; BACKGROUND-COLOR: #fff8ee; TEXT-DECORATION: none
}
.form3 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #666666 1px solid; COLOR: #333333; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
.form4 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
.form5 {
	BORDER-RIGHT: #a49e88 1px solid; BORDER-TOP: #a49e88 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #a49e88 1px solid; WIDTH: 100px; COLOR: #666; BORDER-BOTTOM: #a49e88 1px solid; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.button {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ff0000; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #ffcc00; TEXT-DECORATION: none
}
.date {
	FONT-SIZE: 10px; COLOR: #ff6666; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.bg01 {
	BACKGROUND-REPEAT: no-repeat
}
.unnamed2 {
	FONT-SIZE: 12px; COLOR: #403a2b
}
.text4 {
	FONT-SIZE: 14px; COLOR: #666; LINE-HEIGHT: 160%
}
.header_box {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 980px; POSITION: relative
}
.header {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 950px; PADDING-TOP: 5px; HEIGHT: 120px
}
.alrt {
	Z-INDEX: 999;
	BACKGROUND: url(../eshop_img/alrt.png) no-repeat;
FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='eshop_img/alrt.png',sizingMethod=image); 	LEFT: 300px;
	WIDTH: 40px;
	POSITION: absolute;
	TOP: 130px;
	HEIGHT: 29px;
	background-image: url(../eshop_img/alrt.png);
}
.logo {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 239px; HEIGHT: 58px
}
.header_banner {
	FLOAT: right; WIDTH: 710px; PADDING-TOP: 10px
}
.menuer {
	CLEAR: both; BACKGROUND: #F3A829; WIDTH: 980px; HEIGHT: 25px
}
.menuer_L {
	FLOAT: right; WIDTH: 214px; COLOR: #fff; LINE-HEIGHT: 25px; TEXT-ALIGN: right
}
.menuer_R {
	PADDING-RIGHT: 10px; FLOAT: right; WIDTH: 560px; COLOR: #fff; LINE-HEIGHT: 25px; TEXT-ALIGN: right
}
.menuer_R A {
	COLOR: #fff; TEXT-DECORATION: none
}
.menuer_R A:hover {
	COLOR: #fff000; TEXT-DECORATION: none
}
.menuer_line {
	CLEAR: both; BACKGROUND: url(../eshop_img/menu_bg.gif); MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 36px
}
.menuer_line UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menuer_line LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../eshop_img/menu_line.gif) no-repeat right 50%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 98px; PADDING-TOP: 0px; HEIGHT: 36px
}
.menuer_line LI A {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #eee; LINE-HEIGHT: 36px; HEIGHT: 36px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menuer_line LI A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../eshop_img/menu_hoverbg.gif) no-repeat center top; COLOR: #fff000; LINE-HEIGHT: 36px
}
.menuer_linebg {
	CLEAR: both; FONT-SIZE: 0px; BACKGROUND: url(../eshop_img/menu_linebg.gif) #fff repeat-x left top; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 10px
}
.marginleft {
	MARGIN-LEFT: 10px
}
.banner_box {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 937px
}
.good_box {
	CLEAR: both; PADDING-BOTTOM: 15px; MARGIN: 0px auto; WIDTH: 937px; PADDING-TOP: 15px
}
.banner_mainL {
	FLOAT: left; WIDTH: 200px
}
.banner_mainM {
	WIDTH: 547px
}
.banner_mainM1 {
	WIDTH: 718px
}
.banner_mainR {
	FLOAT: right; WIDTH: 160px
}
.banner_mainRbox {
	CLEAR: both; WIDTH: 160px
}
.banner_mainRtitle {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #000; PADDING-BOTTOM: 0px; WIDTH: 150px; COLOR: #666; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.banner_bottom {
	CLEAR: both; FONT-SIZE: 0px; BACKGROUND: url(../eshop_img/sale_bottom.gif) no-repeat; WIDTH: 160px; HEIGHT: 10px
}
.box_home {
	CLEAR: both; WIDTH: 200px
}
.margintop {
	MARGIN-TOP: 15px
}
.box_margintop {
	MARGIN-TOP: 10px
}
.box_padtop {
	PADDING-TOP: 15px
}
.box_top {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(../eshop_img/box_top.gif) no-repeat; WIDTH: 200px; HEIGHT: 38px
}
.box_top1 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(../eshop_img/box_top1.gif) no-repeat; WIDTH: 200px; HEIGHT: 12px
}
.box_main {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 198px
}
.box_main_home {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 180px
}
.box_main_home1 {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 190px
}
.box_bottom {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(../eshop_img/box_bottom.gif) no-repeat; WIDTH: 200px; HEIGHT: 12px
}
.box_title {
	CLEAR: both; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../eshop_img/title_bg1.gif) no-repeat left bottom; MARGIN: 0px auto; WIDTH: 162px; COLOR: #333; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.ad_banner2 {
	CLEAR: both; WIDTH: 160px
}
.ad_banner3 {
	CLEAR: both; WIDTH: 200px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.main {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 937px
}
.mainL {
	FLOAT: left; WIDTH: 200px
}
.mainL_box {
	CLEAR: both; WIDTH: 200px
}
.mainR {
	FLOAT: right; WIDTH: 720px
}
.box_sm_top {
	CLEAR: both; BACKGROUND: url(../eshop_img/box_smtop.gif) no-repeat; WIDTH: 200px; HEIGHT: 36px
}
.box_sm_m {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 180px
}
.box_sm_bg {
	CLEAR: both; BORDER-RIGHT: #eee 3px solid; BORDER-TOP: #eee 3px solid; BORDER-LEFT: #eee 3px solid; WIDTH: 194px; BORDER-BOTTOM: #eee 3px solid
}
.box_sm_top1 {
	CLEAR: both; BACKGROUND: url(../eshop_img/box_sm_top1.gif) no-repeat left top; WIDTH: 200px; HEIGHT: 39px
}
.box_sm_top2 {
	CLEAR: both; BACKGROUND: url(../eshop_img/box_sm_top2.gif) no-repeat; WIDTH: 200px; HEIGHT: 46px
}
.box_sm_m1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 174px; PADDING-TOP: 10px
}
.box_sm_m1 LI {
	MARGIN: 0px; OVERFLOW: hidden; WIDTH: 174px; HEIGHT: 70px
}
.box_smL {
	FLOAT: left; WIDTH: 60px
}
.box_smR {
	FLOAT: right; WIDTH: 114px
}
.textlink {
	FONT-SIZE: 12px; COLOR: #333; TEXT-DECORATION: none
}
.textlink:hover {
	FONT-SIZE: 12px; COLOR: #ff8a00; TEXT-DECORATION: none
}
.textlink1 {
	FONT-SIZE: 14px; COLOR: #333; TEXT-DECORATION: none
}
.textlink1:hover {
	FONT-SIZE: 14px; COLOR: #ff8a00; TEXT-DECORATION: none
}
.textlink2 {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline
}
.textlink2:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
.textlink3 {
	FONT-SIZE: 12px; COLOR: #666; TEXT-DECORATION: none
}
.textlink3:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline
}
.titlelink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.titlelink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff8a00; TEXT-DECORATION: underline
}
.titlelink1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
.titlelink1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff8a00; TEXT-DECORATION: underline
}
.product_title {
	CLEAR: both; WIDTH: 718px; paddint-bottom: 15px
}
.box_contentmain {
	CLEAR: both; WIDTH: 718px
}
.box_sm_title {
	CLEAR: both; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../eshop_img/i.gif) no-repeat left 50%; MARGIN: 0px auto; WIDTH: 165px; COLOR: #333; BORDER-BOTTOM: #ff6600 1px solid
}
.box_bg_top {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(../eshop_img/box_bg_top.gif) no-repeat; WIDTH: 718px; HEIGHT: 10px
}
.box_bg_m {
	CLEAR: both; WIDTH: 716px
}
.box_bg_bottom {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(../eshop_img/box_bg_bottom.gif) no-repeat; WIDTH: 718px; HEIGHT: 10px
}
.box_bg_title {
	CLEAR: both; BACKGROUND: url(../eshop_img/title_bg.gif) repeat-x left center; MARGIN: 0px auto; WIDTH: 716px
}
.box_bg_title1 {
	CLEAR: both; BACKGROUND: url(../eshop_img/title_bg.gif) repeat-x left center; MARGIN: 0px auto; WIDTH: 937px
}
.box_bg_titleL {
	BACKGROUND: url(../eshop_img/newproduct_title.gif) no-repeat; FLOAT: left; WIDTH: 290px; HEIGHT: 25px
}
.box_bg_titleR {
	FLOAT: right; WIDTH: 100px; PADDING-TOP: 5px; HEIGHT: 20px; TEXT-ALIGN: right
}
.ad_banner {
	CLEAR: both; PADDING-BOTTOM: 15px; WIDTH: 718px
}
.mainRL {
	FLOAT: left; WIDTH: 500px
}
.mainRR {
	FLOAT: right; WIDTH: 200px
}
.box_m_top {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(../eshop_img/box_m_top.gif) no-repeat; WIDTH: 503px; HEIGHT: 10px
}
.box_m_m {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 501px
}
.box_m_bottom {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(../eshop_img/box_m_bottom.gif) no-repeat; WIDTH: 503px; HEIGHT: 10px
}
.box_m_title {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 483px
}
.box_m_titleL {
	BACKGROUND: url(../eshop_img/hotproduct_title.gif) no-repeat; FLOAT: left; WIDTH: 290px; HEIGHT: 25px
}
.box_m_titleL1 {
	BACKGROUND: url(../eshop_img/extraproduct_title.gif) no-repeat; FLOAT: left; WIDTH: 290px; HEIGHT: 25px
}
.box_m_titleR {
	FLOAT: right; WIDTH: 100px; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: right
}
.footer {
	CLEAR: both; BORDER-TOP: #ccc 3px solid; BACKGROUND: #ffffff; MARGIN: 0px auto; WIDTH: 980px
}
.footer_line {
	CLEAR: both; BACKGROUND: #fff; WIDTH: 100%; COLOR: #999; LINE-HEIGHT: 30px; TEXT-ALIGN: center
}
.footer_line A {
	FONT-SIZE: 12px; COLOR: #666; TEXT-DECORATION: none
}
.footer_line A:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
.copyright {
	CLEAR: both; FONT-SIZE: 12px; PADDING-BOTTOM: 15px; MARGIN: 0px auto; WIDTH: 100%; COLOR: #999; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.clear100 {
	CLEAR: both; WIDTH: 100%; HEIGHT: 20px
}
.clear {
	CLEAR: both; FONT-SIZE: 0px
}
.clear200 {
	CLEAR: both; WIDTH: 100%; HEIGHT: 40px
}
.main_box {
	CLEAR: both; WIDTH: 720px
}
.main_banner {
	CLEAR: both; PADDING-BOTTOM: 10px; WIDTH: 720px; TEXT-ALIGN: center
}
.main_line {
	CLEAR: both; PADDING-LEFT: 15px; BACKGROUND: #f1f1f1; WIDTH: 705px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.title_top {
	CLEAR: both; PADDING-LEFT: 15px; BACKGROUND: url(../eshop_img/title_top.jpg) no-repeat; WIDTH: 705px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.title_bottom {
	CLEAR: both; BACKGROUND: url(../eshop_img/title_bottom.jpg) no-repeat; WIDTH: 720px; HEIGHT: 48px
}
.title_bottom1 {
	CLEAR: both; BACKGROUND: url(../eshop_img/title_bottom1.jpg) no-repeat; WIDTH: 720px; HEIGHT: 48px
}
.title_bottom2 {
	CLEAR: both; BACKGROUND: url(../eshop_img/title_bottom2.jpg) no-repeat; WIDTH: 720px; HEIGHT: 48px
}
.title_bottom3 {
	CLEAR: both; BACKGROUND: url(../eshop_img/title_bottom3.jpg) no-repeat; WIDTH: 720px; HEIGHT: 48px
}
.stitle_bg {
	CLEAR: both; BACKGROUND: url(../eshop_img/stitle_bg.jpg) repeat-y; WIDTH: 720px
}
.stitle_bg1 {
	CLEAR: both; BACKGROUND: url(../eshop_img/stitle_bg1.jpg) no-repeat left top; WIDTH: 720px
}
.stitle_bottom {
	CLEAR: both; FONT-SIZE: 0px; BACKGROUND: url(../eshop_img/stitle_bottom.jpg) no-repeat; WIDTH: 720px; HEIGHT: 12px
}
.main_des {
	CLEAR: both; MARGIN-TOP: 10px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #f1f1f1; WIDTH: 720px; COLOR: #f60; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.main_code {
	CLEAR: both; WIDTH: 700px
}
.main_box_main {
	CLEAR: both; MARGIN-TOP: 15px; WIDTH: 720px
}
.ad_banner {
	CLEAR: both; MARGIN-TOP: 15px; WIDTH: 190px
}
H1 {
	FONT-SIZE: 16px; COLOR: #333
}
H2 {
	PADDING-LEFT: 20px; FONT-WEIGHT: 100; FONT-SIZE: 18px; COLOR: #f60; FONT-FAMILY: ║┌╠х
}
H3 {
	PADDING-LEFT: 20px; FONT-WEIGHT: 100; FONT-SIZE: 18px; COLOR: #f60; FONT-FAMILY: ║┌╠х; TEXT-ALIGN: center
}
.text4 {
	FONT-SIZE: 14px; COLOR: #666; LINE-HEIGHT: 200%; PADDING-TOP: 10px
}
.paddingleft {
	PADDING-LEFT: 25px
}
.menu {
	CLEAR: both; MARGIN-TOP: 15px; WIDTH: 200px
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 25px
}
.menu LI A {
	DISPLAY: block; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../eshop_img/dot_off.gif) #f1f1f1 no-repeat left 50%; COLOR: #333; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-DECORATION: none
}
.menu LI A:hover {
	DISPLAY: block; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../eshop_img/dot_on.gif) #ffcc00 no-repeat left 50%; COLOR: #fff; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-DECORATION: none
}
.help_title {
	CLEAR: both; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: #f1f1f1; WIDTH: 705px; COLOR: #f60; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.price_org {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff6600; FONT-FAMILY: Arial
}

.price_gra {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #666; FONT-FAMILY: Arial
}
.price_blue {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #3c0; FONT-FAMILY: Arial
}
.bold {
	FONT-WEIGHT: bold
}
.marginleft5 {
	MARGIN-LEFT: 6px
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.box_height {
	HEIGHT: 450px
}
.boxbg {
	BACKGROUND: url(../eshop_img/boxbg.gif) no-repeat right bottom
}
.boxbg1 {
	BACKGROUND: url(../eshop_img/boxbg1.gif) no-repeat right bottom
}
.boxbg2 {
	BACKGROUND: url(../eshop_img/boxbg2.gif) no-repeat right bottom
}
#toubiao {
	BORDER-BOTTOM: #e2e2e2 1px solid
}
.backgroundcolor {
	BACKGROUND: #fff7db
}
.helpcenter_title {
	CLEAR: both; BACKGROUND: url(../eshop_img/help_title.jpg) no-repeat; MARGIN: 0px auto; WIDTH: 937px; HEIGHT: 50px
}
.help_sbox {
	WIDTH: 214px; HEIGHT: 250px
}
.right_border {
	BORDER-RIGHT: #ccc 1px solid
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.marginleft15 {
	MARGIN-LEFT: 14px
}
.help_box {
	CLEAR: both; BORDER-RIGHT: #eeeeee 7px solid; BORDER-TOP: #eeeeee 7px solid; MARGIN: 10px auto 0px; BORDER-LEFT: #eeeeee 7px solid; WIDTH: 923px; BORDER-BOTTOM: #eeeeee 7px solid; HEIGHT: 260px
}
.help_boxmain {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 903px; PADDING-TOP: 10px
}
.contact_title {
	CLEAR: both; BACKGROUND: url(../eshop_img/contact_title.gif) no-repeat; WIDTH: 200px; HEIGHT: 18px
}
.help_title1 {
	CLEAR: both; BACKGROUND: url(../eshop_img/help_title.gif) no-repeat; WIDTH: 200px; HEIGHT: 18px
}
.contact_home {
	CLEAR: both; WIDTH: 200px; PADDING-TOP: 10px
}
.contact_home P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
.help_home {
	CLEAR: both; WIDTH: 200px; PADDING-TOP: 10px
}
.help_home UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.help_home LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 25px
}
.help_home LI A {
	DISPLAY: block; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../eshop_img/dot_off.gif) #f1f1f1 no-repeat left 50%; COLOR: #333; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-DECORATION: none
}
.help_home LI A:hover {
	BACKGROUND: url(../eshop_img/dot_on.gif) #ffcc00 no-repeat left 50%; COLOR: #fff; LINE-HEIGHT: 25px
}

a.help_home{
	DISPLAY: block; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../eshop_img/dot_off.gif) #f1f1f1 no-repeat left 50%; COLOR: #333; LINE-HEIGHT: 15px; HEIGHT: 15px; TEXT-DECORATION: none
}
a.help_home:hover {
	BACKGROUND: url(../eshop_img/dot_on.gif) #ffcc00 no-repeat left 50%; COLOR: #fff; LINE-HEIGHT: 15px
}
.news_title {
	CLEAR: both; WIDTH: 200px
}
.news_titleL {
	BACKGROUND: url(../eshop_img/trend_title.gif) no-repeat; FLOAT: left; WIDTH: 80px; HEIGHT: 18px
}
.news_titleR {
	FLOAT: right; WIDTH: 60px; TEXT-ALIGN: right
}
.news_titleR A {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.news_titleR A:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
.news_main {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 200px
}
.news_main A {
	COLOR: #333; TEXT-DECORATION: none
}
.news_main A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.opennews_title {
	CLEAR: both; WIDTH: 200px; PADDING-TOP: 10px
}
.opennews_titleL {
	BACKGROUND: url(../eshop_img/inform_title.gif) no-repeat; FLOAT: left; WIDTH: 80px; HEIGHT: 18px
}
.opennews_titleR {
	FLOAT: right; WIDTH: 60px; TEXT-ALIGN: right
}
.opennews_main {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 200px
}
.trend_box {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 680px
}
.trend_box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.trend_box LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; WIDTH: 680px; PADDING-TOP: 0px; BORDER-BOTTOM: #f1f1f1 1px dashed; HEIGHT: 30px
}
.trend_boxL {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../eshop_img/ding_bg.gif) no-repeat; FLOAT: left; WIDTH: 42px; PADDING-TOP: 3px; FONT-FAMILY: Arial; HEIGHT: 25px; TEXT-ALIGN: center
}
.trend_boxM {
	PADDING-LEFT: 20px; FLOAT: left; WIDTH: 510px; PADDING-TOP: 5px
}
.trend_boxM A {
	FONT-SIZE: 16px; COLOR: #9b1090; TEXT-DECORATION: none
}
.trend_boxM A:hover {
	FONT-SIZE: 16px; COLOR: #ff8a00; TEXT-DECORATION: underline
}
.trend_boxR {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 90px; COLOR: #888; PADDING-TOP: 6px; TEXT-ALIGN: right
}
.inform_box {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 680px
}
.inform_box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.inform_box LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; WIDTH: 680px; PADDING-TOP: 0px; BORDER-BOTTOM: #f1f1f1 1px dashed; HEIGHT: 30px
}
.inform_boxL {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../eshop_img/ding_bg.gif) no-repeat; FLOAT: left; WIDTH: 42px; PADDING-TOP: 3px; FONT-FAMILY: Arial; HEIGHT: 25px; TEXT-ALIGN: center
}
.inform_boxM {
	PADDING-LEFT: 20px; FLOAT: left; WIDTH: 510px; PADDING-TOP: 5px
}
.inform_boxM A {
	FONT-SIZE: 16px; COLOR: #0073d4; TEXT-DECORATION: none
}
.inform_boxM A:hover {
	FONT-SIZE: 16px; COLOR: #ff8a00; TEXT-DECORATION: underline
}
.inform_boxR {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 90px; COLOR: #666; PADDING-TOP: 6px; TEXT-ALIGN: right
}
.popmain {
	CLEAR: both; BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 5px; MARGIN: 0px auto; BORDER-LEFT: #f0f0f0 1px solid; WIDTH: 370px; COLOR: #888; LINE-HEIGHT: 160%; PADDING-TOP: 5px; BORDER-BOTTOM: #f0f0f0 1px solid
}
.t_shirt {
	BACKGROUND: #a49e88; FLOAT: left; OVERFLOW: hidden; WIDTH: 829px; HEIGHT: 207px
}
.t_shirtmain {
	MARGIN-TOP: 10px; BACKGROUND: #fff; FLOAT: right; WIDTH: 829px; HEIGHT: 187px
}
.t_shirt_title {
	BACKGROUND: url(../eshop_img/t_shirtL.gif) no-repeat; FLOAT: left; WIDTH: 96px; HEIGHT: 207px
}
.t_shirtR {
	BACKGROUND: url(../eshop_img/t_shirtR.gif) no-repeat; FLOAT: right; WIDTH: 12px; COLOR: #ffffff; HEIGHT: 207px
}
.friend_link {
	CLEAR: both; MARGIN: 15px auto 0px; WIDTH: 937px
}
.friend_title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #ccc; FLOAT: left; WIDTH: 80px; PADDING-TOP: 5px; HEIGHT: 22px; TEXT-ALIGN: center
}
.friend_content {
	PADDING-LEFT: 10px; BACKGROUND: #f5f5f5; FLOAT: left; WIDTH: 837px; PADDING-TOP: 5px; HEIGHT: 22px; TEXT-ALIGN: left
}
.newproduct {
	CLEAR: both; WIDTH: 716px; PADDING-TOP: 15px
}
.newproductL {
	FLOAT: left; WIDTH: 255px
}
.newproductL P {
	MARGIN: 0px; TEXT-ALIGN: center
}
.newproductR {
	FLOAT: right; WIDTH: 450px
}
.paddingtop5 {
	PADDING-TOP: 5px
}
.paddingtop15 {
	PADDING-TOP: 15px
}
.box_bg {
	CLEAR: both; BACKGROUND: #ffffff; MARGIN: 0px auto; WIDTH: 980px
}
.fontbold {
	FONT-WEIGHT: bold
}
.login_lbg {
	BACKGROUND: url(../eshop_img/login_l.jpg) no-repeat; WIDTH: 314px; HEIGHT: 350px
}
.login_rtop {
	BACKGROUND: url(../eshop_img/login_rtop.jpg) no-repeat; WIDTH: 286px; HEIGHT: 113px
}
.login_rbottom {
	BACKGROUND: url(../eshop_img/login_rbottom.jpg) no-repeat; WIDTH: 286px; HEIGHT: 237px
}
.text100 {
	MARGIN: 0px; COLOR: #888; PADDING-TOP: 5px
}
.pro_desc {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #eee; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#notbg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.pro_list A IMG {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../eshop_img/image_list_img_a.gif); PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.pro_list A:hover IMG {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../eshop_img/image_list_img.gif); PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}

a.linkpic{
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../eshop_img/image_list_img_a.gif); PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
a.linkpic:hover {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../eshop_img/image_list_img.gif); PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.box3 {
	border: 3px solid #eeeeee;s
}
a.linknewstext {
	font-size: 16px;
	color: 9B1090;
	text-decoration: none;
}
a.linknewstext:hover {
	font-size: 16px;
	color: #FF6600;
	text-decoration: underline;
}
.help1 {
	font-size: 14px;
	line-height: 30px;
	color: #333333;
}
.lxwmmm {
	font-size: 14pt;
	line-height: 15px;
	font-weight: bolder;
	color: #888888;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
}
a.linkqq {
	font-size: 14pt;
	line-height: 15px;
	font-weight: bolder;
	color: #888888;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
a.linkqq:hover {
	font-size: 14pt;
	line-height: 15px;
	font-weight: bolder;
	color: #FF6600;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
}
